<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Detail</title>
</head>
<body>
  <h1>User Detail</h1>
  <ul>
      <li>
        ID: <%= id %> 
      </li>
      <li>
        Name: <%= name %>
      </li>
  </ul>

  <form action="/users/<%= id %>" method="POST">
    <input type="text" name="name" placeholder="New name"/>
    <button type="submit">Update Name</button>
  </form>
</body>
</html>