<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  
  <title>Todo App</title>
</head>
<body>
  <h1 class="page-title">Todo App</h1>
  <ol>
    <% todos.forEach((todo, index) => { %>
      
      <li class="todo-item">
        <form action="/todos/<%= index %>/done" method="post" class="done-button">
          <button>Done</button>
        </form>
        <%= todo %>
      </li>
      
    <% }) %>
  </ul>
</body>
</html>